*
{
margin: 0;
padding: 0;
font-family: 'Libre Franklin', sans-serif;
}
body
{
background-color: #141414;
}
.abre
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10;
}
.capa 
{
display: flex;
align-items: center;
justify-content: center;
}
.abre .capa
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  animation: abre 1.5s ease-in-out forwards;
}
.abre .capa:nth-child(1)
{
  background-color: #FF52D2;
  z-index: 2;
}
.abre .capa:nth-child(2)
{
  background-color: #A4EF00;
  animation-delay: 1s;
  z-index: 1;
}
@keyframes abre
{
  0%
  {
    transform: scaleY(1);
  }
  100%
  {
    transform: scaleY(0);
  }
}
body::-webkit-scrollbar
{
width: 15px;
}
body::-webkit-scrollbar-thumb
{
background-color: #FFFF00;
border-radius: 50px;
}
.barra
{
height: 110px;
width: 100%;
background-color: red;
display: flex;
position: fixed;
z-index: 2;
}
.principal
{
	background-color: #141414;
	height: 100%;
	width: 50%;
	border-bottom: 2px solid #FFFF00;
}
.oculto 
{
  display: none;
}

.icono-desplegar 
{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  left: 15%;
  top: 40%;
  z-index: 5;
}

.ventana-desplegable 
{
  display: none; 
  background-color: #1E1D1D;
  border: 1px solid #FFFF00;
  position: absolute;
  width: 200px;
  height: 250px;
  top: 65%;
  left: 15%;
  color: white;
}

#mostrar-ventana:checked ~ .ventana-desplegable 
{
  display: block; 
}
.yoqse
{
background-color: red;
	height: 110px;
	width: 50%;
}
.caja
{
display: flex;
gap: 15px;
}
.caja img
{
width: 25px;
height: auto;
left: 15%;
top: 40%;
position: absolute;
cursor: pointer;
}
.caja2 img
{
width: 25px;
height: auto;
left: 18%;
top: 40%;
position:absolute;
cursor: pointer;
}
.logo
{
position: absolute;
left: 3%;
top: 23%;
transform: translate(-50%, -50%);
width: 150px;
height: auto;
animation: float 3s ease-in-out infinite;
}
@keyframes float {
      0%, 100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(0, -10px);
      }
    }
.logo img
{
width: 150px;
height: auto;
position: absolute;
left: 3%;
top: 20%;
}
.secundario
{
	background-color: #141414;
	height: 100%;
	width: 50%;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #FFFF00;
}
.tercero input
{
	width: 450px;
	height: 40px;
	border-radius: 15px;
	margin-right: 30px;
	text-align: center;
	background-color: #D2E2E8;
}
.primero input
{
height: 40px;
width: 90px;
border-radius: 15px;
margin: 10px;
background-color: #A4EF00;
font-weight: 900;
color: white;
cursor: pointer;
}
.segundo input
{
height: 40px;
width: 90px;
border-radius: 15px;
margin: 15px;	
background-color: #A4EF00;
font-weight: 900;
color: white;
cursor: pointer;
}
.cuarto img
{
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
margin-top: 4px;
position: absolute;
right: 2%;
}
.cuarto
{
	display: flex;
}
.cuarto i
{
color: white; 
}
.cuarto li
{
	width: 90%;
	height: 50px;
	list-style: none;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	overflow: hidden;
	margin-right: 35px;

}
.cuarto li a
{
	color: white;
	text-decoration: none;
	display: block;
}

.cuarto li a:hover
{
	background-color: white;
	color: #FF52D2;

}
.cuarto li:hover
{
	overflow: visible;
}
.cuarto li ul li
{
	width: 100%;
	height: 70px;
	background-color: #A4EF00;
} 
.cuarto li ul li ul li
{
	position: absolute;
	top: 100px;
	left: 100px;
}
.cuerpo
{

	height: 100vh;
	width: 100%;

}
.videos-recomendados
{
	overflow-x: scroll;
	background-color: #141414;
	display: flex;
	padding-left: 15px;
	border-top: 1px solid rgba(255, 255, 255, 0,1);
	border-bottom: 1px solid rgba(255, 255, 255, 0,1);
	scroll-behavior: smooth;
	
	z-index: 1;

}
.recomendado
{
	margin: 12px 6px;
	background-color: #FF52D2;
	padding: 6px 12px;
	border: 1px solid rgba(255, 255, 255, 0,1);
	border-radius: 16px;
	white-space: nowrap;
	cursor: pointer;
	color: #fff;
	transition: 0.5s;


}
.recomendado:hover
{
	background-color: rgb(164, 239, 0, 0.8);
}
.videos-recomendados::-webkit-scrollbar
{
	height: 5px;
	width:5px;
	background-color: #FFFF00;
}
.contenedor
{
display: flex;
}
.cuerpo
{
	width: 20%;
	height: 200vh;
	background-color: #141414;
	border-right: 2px solid #FFFF00;
	display: flex;
	flex-direction: column;
}
.vivo
{
display: flex;
width: 100%;
}
.vainilla
{
margin-top: -11px;
}
.cajon
{
width: 300px;
height: 100%;
position: fixed;
}
.foto img
{
width: 40px;
height: 40px;
border-radius: 50%;
margin:20px;
}
.caja
{
margin-top: 20px;
color: white;
text-decoration: none;
}
.caja a
{
color: white;
text-decoration: none;
}
.caja h3
{
color: #A4EF00;
font-weight: 400;
}
.caja h6
{
color: #A4EF00;
font-weight: 500;
font-size: 25px;
margin-left: 90px;
}
.inicio
{
width: 80%;
height: 200vh;
background-color: #141414;
box-shadow: 3px 2px 101px 0px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 3px 2px 101px 0px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 3px 2px 101px 0px rgba(0,0,0,0.75) inset;
}
.cont
{
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}
.cont2
{
display: flex;
align-items: center;
justify-content: center;
margin-top: 120px;
}
.cont img
{
width: 700px;
height: auto;
margin-top: 40px;
border-radius: 15px;
cursor: pointer;
}
.cont2 img
{
width: 700px;
height: auto;
margin-top: 40px;
border-radius: 15px;
cursor: pointer;
}
.nombre
{
display: flex;
position: absolute;
left: 38%;
margin-top: 10px;
width: 650px;
}
.nombre img
{
border-radius: 50%;
width: 80px;
height: 80px;
}
.nombre h5
{
color: #FF2447;
}
.letra
{
color: white;
margin: 10px;
}
.letra h3
{
font-weight: 400;
color: #A4EF00;
}
.etiquetas
{
display: flex;
gap:10px;
}
.etiquetas h4
{
background: #FF52D2;
border-radius: 10px;
width: 105px;
height: 20px;
text-align: center;
margin-top: 5px;
}
