*
{
margin: 0;
padding: 0;
font-family: 'Libre Franklin', sans-serif;
}
body
{
background-color: #141414;
}
body::-webkit-scrollbar
{
width: 15px;
}
body::-webkit-scrollbar-thumb
{
background-color: #FFFF00;
border-radius: 50px;
}
.barra
{
height: 110px;
width: 100%;
background-color: red;
display: flex;
position: fixed;
z-index: 2;
}
.principal
{
	background-color: #141414;
	height: 100%;
	width: 50%;
	border-bottom: 2px solid #FFFF00;
}
.oculto 
{
  display: none;
}

.icono-desplegar 
{
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
  position: absolute;
  left: 15%;
  top: 40%;
  z-index: 5;
}

.ventana-desplegable 
{
  display: none; 
  background-color: #1E1D1D;
  border: 1px solid #FFFF00;
  position: absolute;
  width: 200px;
  height: 250px;
  top: 65%;
  left: 15%;
  color: white;
}

#mostrar-ventana:checked ~ .ventana-desplegable 
{
  display: block; 
}
.yoqse
{
background-color: red;
	height: 110px;
	width: 50%;
}
.caja
{
display: flex;
gap: 15px;
}
.caja img
{
width: 25px;
height: auto;
left: 15%;
top: 40%;
position: absolute;
cursor: pointer;
}
.caja2 img
{
width: 25px;
height: auto;
left: 18%;
top: 40%;
position:absolute;
cursor: pointer;
}
.logo
{
position: absolute;
left: 3%;
top: 23%;
transform: translate(-50%, -50%);
width: 150px;
height: auto;
animation: float 3s ease-in-out infinite;
}
@keyframes float {
      0%, 100% {
        transform: translate(0, 0);
      }
      50% {
        transform: translate(0, -10px);
      }
    }
.logo img
{
width: 150px;
height: auto;
position: absolute;
left: 3%;
top: 20%;
}
.secundario
{
	background-color: #141414;
	height: 100%;
	width: 50%;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #FFFF00;
}
.tercero input
{
	width: 450px;
	height: 40px;
	border-radius: 15px;
	margin-right: 30px;
	text-align: center;
	background-color: #D2E2E8;
}
.primero input
{
height: 40px;
width: 90px;
border-radius: 15px;
margin: 10px;
background-color: #A4EF00;
font-weight: 900;
color: white;
cursor: pointer;
}
.segundo input
{
height: 40px;
width: 90px;
border-radius: 15px;
margin: 15px;	
background-color: #A4EF00;
font-weight: 900;
color: white;
cursor: pointer;
}
.cuarto img
{
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
margin-top: 4px;
position: absolute;
right: 2%;
}
.cuarto
{
	display: flex;
}
.cuarto i
{
color: white; 
}
.cuarto li
{
	width: 90%;
	height: 50px;
	list-style: none;
	text-align: center;
	line-height: 70px;
	font-size: 20px;
	overflow: hidden;
	margin-right: 35px;

}
.cuarto li a
{
	color: white;
	text-decoration: none;
	display: block;
}

.cuarto li a:hover
{
	background-color: white;
	color: #FF52D2;

}
.cuarto li:hover
{
	overflow: visible;
}
.cuarto li ul li
{
	width: 100%;
	height: 70px;
	background-color: #A4EF00;
} 
.cuarto li ul li ul li
{
	position: absolute;
	top: 100px;
	left: 100px;
}
.contenedor
{
display: flex;
}
.cuerpo
{
	width: 20%;
	height: 200vh;
	background-color: #141414;
	border-right: 2px solid #FFFF00;
	display: flex;
	flex-direction: column;
}
.vivo
{
display: flex;
width: 100%;
}
.vainilla
{
margin-top: 11px;
}
.cajon
{
width: 300px;
height: 100%;
position: fixed;
}
.foto img
{
width: 40px;
height: 40px;
border-radius: 50%;
margin:20px;
}
.yoqse
{
background-color: red;
	height: 110px;
	width: 50%;
}
.caja
{
margin-top: 20px;
color: white;
text-decoration: none;
}
.caja a
{
color: white;
text-decoration: none;
}
.caja h3
{
color: #A4EF00;
font-weight: 400;
}
.caja h6
{
color: #A4EF00;
font-weight: 500;
font-size: 25px;
margin-left: 90px;
}
.cajonete
{
width: 1240px;
}
.titulo
{
color: white;
font-weight: 900;
font-size: 65px;
margin-left: 20px;
margin-top: 20px;

}
.secciones
{
display: flex;
gap: 15px;
margin-top: 20px;
margin-left: 20px;
color: white;
font-weight: 500;
cursor: pointer;
}
.secciones h1
{
background-color: white;
color: #FF52D2;
font-size: 20px;
font-weight: 500;
border-radius: 13px;
width: 115px;
text-align: center;
}
.secciones h2
{
font-size: 20px;
font-weight: 500;
border-radius: 13px;
width: 145px;
text-align: center;
}
.secciones h3
{
font-size: 20px;
font-weight: 500;
border-radius: 13px;
width: 145px;
text-align: center;
}
.secciones h4
{
font-size: 20px;
font-weight: 500;
border-radius: 13px;
width: 85px;
text-align: center;
}
.secciones h2:hover
{
	background-color: white;
	color: #FF52D2;
}
.secciones h3:hover
{
	background-color: white;
	color: #FF52D2;
}
.secciones h4:hover
{
	background-color: white;
	color: #FF52D2;
}
.vive
{
	color: white;
	margin-top: 20px;
margin-left: 25px;
font-weight: 600;
}
.conttarjetas
{
display: flex;
width: 100%;
}
.tarjetas
{
width: 29%;
margin-top: 20px;
margin-left: 35px;
transition: 0.5s;
cursor: pointer;
}
.tarjetas:hover
{
transform: scale(1.2);
}
.tarjetas img
{
width: 350px;
height: auto;
}
.loguito
{
display: flex;
color: white;
}
.loguito img
{
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
.loguito h3
{
margin-left: 10px;
font-weight: 500;
}
.texto 
{
	display: flex;
	flex-direction: column;
}
.texto h2 
{
font-weight: 400;
font-size: 15px;
margin-left: 10px;
}
.texto h4
{
font-weight: 400;
font-size: 15px;
margin-left: 10px;
color: #A4EF00;
}
.texto h5
{
	background-color: #FF52D2;
	color: white;
	font-weight: 400;
font-size: 15px;
margin-left: 10px;
color: white;
width: 100px;
text-align: center;
border-radius: 15px;
}
.etiquetas
{
	display: flex;
}
.second
{
margin-top: 50px;
color: white;
font-weight: 600;
display: flex;
flex-direction: column;
}
.calzon
{
display: flex;
gap: 55px;
margin-left: 25px;
margin-top: 20px;
}
.offline
{
margin-top: 20px;
color: white;
font-weight: 600;
flex-direction: column;
transition: 0.5s;
width: 185px;
height: 185px;
border-radius: 5px;
text-align: center;
cursor: pointer;

}
.offline:hover
{
transform: scale(1.2);
background: linear-gradient(to bottom right, #A4EF00, #FF52D2);
}
.second h1
{
	margin-left: 25px;
	font-size: 25px;
}
.fote img
{
width: 180px;
height: 180px;
}
.texte h2
{
text-align: center;
}
